Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --write, prettier --ignore-unknown --write

Hash the preview param
  CHANGELOG-WIP.md
  src/controllers/ElementsController.php
  src/web/Request.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/ElementEditor.js
Due: none

Fix icon sizes
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Add live region to slideouts, ensure slideout live region can also be set as the active live region; cleanup attributes
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/CP.js
  src/web/assets/cp/src/js/Slideout.js
  src/web/assets/garnish/dist/garnish.js
  src/web/assets/garnish/dist/garnish.js.map
  src/web/assets/garnish/src/Modal.js
Due: none

Announce loading in recovery codes setup
  src/web/assets/authmethodsetup/dist/auth.js
  src/web/assets/authmethodsetup/dist/auth.js.map
  src/web/assets/authmethodsetup/src/RecoveryCodesSetup.js
Due: none

Update loading/loading complete and search results message for icon picker
  src/translations/en/app.php
  src/web/assets/cp/CpAsset.php
  src/web/assets/cp/dist/cp.js
  src/web/assets/cp/dist/cp.js.map
  src/web/assets/cp/src/js/IconPicker.js
Due: none

only validate visible fields
  src/fields/Assets.php
Due: none

set x-robots-tag for preview links too
  src/web/Application.php
Due: none

added andId param and method
  src/elements/db/ElementQuery.php
  src/elements/db/ElementQueryInterface.php
Due: none

when ordering by value from json col, cast text to char
  src/base/Field.php
Due: none

Fixed localisation output for money condition rule fields
  CHANGELOG.md
  src/fields/conditions/MoneyFieldConditionRule.php
Due: none

Fixed #15570
  CHANGELOG.md
  src/fields/BaseRelationField.php
Due: none

Cleanup
  src/fields/Assets.php
Due: none

Release note
  CHANGELOG.md
Due: none

Add a field chip to the top of FLD field setting slideouts
  src/base/Field.php
  src/templates/_includes/forms/fld/custom-field-settings.twig
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --write

fix position of the new widget menu icons
  src/web/assets/dashboard/src/dashboard.scss
Due: stylelint --fix --allow-empty-input, prettier --write

switch left mixin for the new approach
  src/web/assets/dashboard/src/dashboard.scss
Due: stylelint --fix --allow-empty-input, prettier --write

build
  src/web/assets/dashboard/dist/css/Dashboard.css
  src/web/assets/dashboard/dist/css/Dashboard.css.map
Due: stylelint --fix --allow-empty-input, prettier --write

Twig 3.12
  CHANGELOG-WIP.md
  composer.json
  composer.lock
  src/helpers/Template.php
  src/web/twig/nodes/GetAttrNode.php
  src/web/twig/nodes/NavNode.php
Due: prettier --ignore-unknown --write

Cleanup CSS
  src/web/assets/dashboard/src/dashboard.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Build
  src/web/assets/dashboard/dist/css/Dashboard.css
  src/web/assets/dashboard/dist/css/Dashboard.css.map
Due: stylelint --fix --allow-empty-input, prettier --write

Column is `primaryOwnerId` not `ownerId`
  src/elements/User.php
Due: none

Cleanup
  src/base/Field.php
Due: none

Release note
  CHANGELOG-WIP.md
Due: none

Don't pass along x-craft-(live-)preview params if unverified
  CHANGELOG-WIP.md
  src/helpers/UrlHelper.php
Due: none

New translations app.php (French) [ci skip]
  src/translations/fr/app.php
Due: none

New translations app.php (Spanish) [ci skip]
  src/translations/es/app.php
Due: none

New translations app.php (Arabic) [ci skip]
  src/translations/ar/app.php
Due: none

New translations app.php (Czech) [ci skip]
  src/translations/cs/app.php
Due: none

New translations app.php (Danish) [ci skip]
  src/translations/da/app.php
Due: none

New translations app.php (German) [ci skip]
  src/translations/de/app.php
Due: none

New translations app.php (Hebrew) [ci skip]
  src/translations/he/app.php
Due: none

New translations app.php (Hungarian) [ci skip]
  src/translations/hu/app.php
Due: none

New translations app.php (Italian) [ci skip]
  src/translations/it/app.php
Due: none

New translations app.php (Japanese) [ci skip]
  src/translations/ja/app.php
Due: none

New translations app.php (Korean) [ci skip]
  src/translations/ko/app.php
Due: none

New translations app.php (Dutch) [ci skip]
  src/translations/nl/app.php
Due: none

New translations app.php (Polish) [ci skip]
  src/translations/pl/app.php
Due: none

New translations app.php (Portuguese) [ci skip]
  src/translations/pt/app.php
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.{php}
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.{php}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{css,scss}
  prettier --ignore-unknown --write: any of: *.{html,json}
