Repository craftcms/cms: changes, and which lint-staged commands are due for each by the changed paths.
All: ./vendor/bin/ecs check --ansi --fix, ./vendor/bin/phpstan analyse --memory-limit=1G, stylelint --fix --allow-empty-input, prettier --write, prettier --ignore-unknown --write

@include margin-left -> margin-inline-start
  src/web/assets/craftsupport/src/CraftSupportWidget.scss
  src/web/assets/dashboard/src/dashboard.scss
  src/web/assets/graphiql/src/graphiql.scss
  src/web/assets/installer/src/install.scss
  src/web/assets/plugins/src/plugins.scss
  src/web/assets/pluginstore/src/sass/_general.scss
  src/web/assets/updates/src/updates.scss
  src/web/assets/utilities/src/utilities.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include margin-right -> margin-inline-end
  src/web/assets/plugins/src/plugins.scss
  src/web/assets/pluginstore/src/sass/_general.scss
  src/web/assets/routes/src/routes.scss
  src/web/assets/upgrade/src/upgrade.scss
  src/web/assets/userpermissions/src/user-permissions.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include margin -> margin-inline + margin-block
  src/web/assets/cp/src/css/_cp.scss
  src/web/assets/cp/src/css/_fld.scss
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/graphiql/src/graphiql.scss
  src/web/assets/installer/src/install.scss
  src/web/assets/pluginstore/src/sass/_general.scss
  src/web/assets/routes/src/routes.scss
  src/web/assets/updater/src/update.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include floatright -> float: inline-end
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/dashboard/src/dashboard.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include floatleft -> float: inline-start
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/edittransform/src/transforms.scss
  src/web/assets/graphiql/src/graphiql.scss
  src/web/assets/routes/src/routes.scss
  src/web/assets/userpermissions/src/user-permissions.scss
  src/web/assets/utilities/src/utilities.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include border-left -> border-inline-start
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include border-right -> border-inline-end
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/money/src/Money.scss
  src/web/assets/userpermissions/src/user-permissions.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include border-top-left-radius -> border-start-start-radius
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/money/src/Money.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include border-top-right-radius -> border-start-end-radius
  packages/craftcms-sass/_mixins.scss
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/money/src/Money.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include border-bottom-left-radius -> border-end-start-radius
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/money/src/Money.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include border-bottom-right-radius -> border-end-end-radius
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/money/src/Money.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include border-radius -> border-*-*-radius
  packages/craftcms-sass/_mixins.scss
  src/web/assets/cp/src/css/_fld.scss
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/pluginstore/src/sass/_layout.scss
  src/web/assets/routes/src/routes.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Finish out borders
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include alignright -> text-align: end
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --write

@include alignleft -> text-align: start
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Quiet autoprefixer warning
  src/web/assets/cp/src/css/_cp.scss
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Adjust lintstagedrc
  .lintstagedrc.json
Due: prettier --ignore-unknown --write

Remove no longer necessary rtl styles
  packages/craftcms-sass/_mixins.scss
  src/web/assets/cp/src/css/_cp.scss
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/plugins/src/plugins.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Run sass-migrator
  packages/craftcms-sass/_mixins.scss
  src/web/assets/cp/src/css/_color-palette.scss
  src/web/assets/cp/src/css/_cp.scss
  src/web/assets/cp/src/css/_fld.scss
  src/web/assets/cp/src/css/_global-sidebar.scss
  src/web/assets/cp/src/css/_image_editor.scss
  src/web/assets/cp/src/css/_login.scss
  src/web/assets/cp/src/css/_main.scss
  src/web/assets/cp/src/css/_preview.scss
  src/web/assets/cp/src/css/_variables.scss
  src/web/assets/cp/src/css/craft.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Fixed Postgres installation
  CHANGELOG.md
  src/db/Migration.php
  src/migrations/Install.php
Due: none

Fix wider system settings icons
  CHANGELOG.md
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Release note
  CHANGELOG.md
Due: none

Fixed tests
  src/test/TestSetup.php
Due: none

Fixed #15512
  CHANGELOG.md
  src/fields/Link.php
Due: none

Fixed #15513
  CHANGELOG.md
  src/elements/db/ElementQuery.php
Due: none

Fixed #15511
  CHANGELOG.md
  src/fields/Assets.php
Due: none

Finish 5.3.2
  CHANGELOG.md
  src/config/app.php
Due: none

Adds the current version’s release notes URL to CLI banner output
  src/console/controllers/HelpController.php
Due: none

Fixed #15517
  CHANGELOG.md
  src/services/Elements.php
Due: none

Backport 32e3eb536422d17f991316994f59943baeac863d
  CHANGELOG.md
  src/services/Elements.php
Due: none

Don't instantiate plugins until it's time to install them
  CHANGELOG.md
  src/migrations/Install.php
Due: none

SearchEvent, too
  src/events/SearchEvent.php
Due: none

Finish 4.11.2
  CHANGELOG.md
  src/config/app.php
Due: none

Finish 5.3.3
  CHANGELOG.md
  src/config/app.php
Due: none

Fix focus rings
  src/web/assets/cp/src/css/_main.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Include the env name in mutex lock key prefixes & session names
  CHANGELOG-WIP.md
  src/base/ApplicationTrait.php
  src/helpers/App.php
Due: none

Fixed a RTL styling bug
  CHANGELOG.md
  src/web/assets/cp/dist/css/cp.css
  src/web/assets/cp/dist/css/cp.css.map
  src/web/assets/cp/src/css/_cp.scss
Due: stylelint --fix --allow-empty-input, prettier --write

Release note
  CHANGELOG-WIP.md
Due: none

Path conditions:
  ./vendor/bin/ecs check --ansi --fix: any of: *.{php}
  ./vendor/bin/phpstan analyse --memory-limit=1G: any of: *.{php}
  stylelint --fix --allow-empty-input: any of: *.{css,scss}
  prettier --write: any of: *.{css,scss}
  prettier --ignore-unknown --write: any of: *.{html,json}
